
<h2>Summer Collection 16'</h2>
<a ui-sref="productNew">Add a New Product</a>
<div class="row" >
<div class="items col s12 m6 l3" ng-repeat="product in productListVm.products">
<img ng-src="{{product.imageURL}}" class="photo">
<p>{{product.name | limitTo : 20}}</p>
<p>{{product.price | currency}}</p>
<!-- <p>{{product.size}}</p>
<p>{{product.color}}</p>
<p>{{product.quantity}}</p>
<p>{{product.type}}</p> -->


  <a ui-sref="productShow({id: product._id})">View this product</a>
  <br>
  <a ng-click="productListVm.destroy(product)">Delete this product</a>
  <hr>
</div>
</div>

<!--
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div> -->
